* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 3px;
}

nav {
  color: #707070;
}

nav .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 20px;
  max-width: 1600px;
}

nav .nav__content .nav__logo img {
  max-width: 180px;
  height: auto;
}

nav .nav__content .nav__navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__content .nav__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

nav .nav__content .nav__navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  cursor: pointer;
}

nav .nav__content .nav__navigation ul li:hover {
  color: white;
  background-color: #ff5672;
}

nav .nav__content .nav__navigation .menuIcon {
  display: none;
}

header {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  height: calc( 100vh - 120px);
  color: white;
  background-color: #fc758c;
}

header .header__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

header .header__content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

header .header__content p {
  font-size: 16px;
}

button {
  margin: auto;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  color: #fc758c;
  font-size: 11px;
  text-transform: uppercase;
  background-color: white;
}

.btn-secundary {
  color: white;
  font-size: 11px;
  background-color: #ff5672;
}

.displayMood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0px;
}

.displayMood .displayMood__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.displayMood .displayMood__content img {
  width: auto;
  height: 15px;
  cursor: pointer;
}

.bodyMenu .bodyMenu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodyMenu .bodyMenu__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.bodyMenu .bodyMenu__content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  cursor: pointer;
}

.bodyMenu .bodyMenu__content ul li:hover {
  color: white;
  background-color: #ff5672;
}

.bodyMenu .bodyMenu__content .bodyMenuIcon {
  display: none;
}

.displayImg {
  margin: auto;
  max-width: 1200px;
  text-align: center;
}

.displayImg #displayImg__container {
  margin: 40px 0px;
  padding: 20px;
}

.displayImg #displayImg__container.displayImg__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.displayImg #displayImg__container.displayImg__content__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.displayImg #displayImg__container.displayImg__content__grid .displayImg__content {
  position: relative;
  display: -ms-grid;
  display: grid;
}

.displayImg #displayImg__container.displayImg__content__grid .displayImg__content:hover h4 {
  -webkit-transform: scale(0.9, 0.95);
          transform: scale(0.9, 0.95);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.displayImg #displayImg__container.displayImg__content__grid .displayImg__content h4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #ff5672;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.displayImg #displayImg__container.displayImg__content__columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.displayImg #displayImg__container.displayImg__content__columns .displayImg__content {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.displayImg #displayImg__container img {
  position: relative;
  width: 100%;
  height: auto;
}

.displayImg #displayImg__container img::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ff5672;
}

.displayImg #displayImg__container h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

footer {
  margin: 20px 0px;
  color: #c3d0d8;
  font-size: 13px;
}

footer .footer__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  padding: 20px 0px;
  text-align: center;
}

footer .footer__content span {
  color: #fc758c;
}

footer .footer__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__content ul li {
  list-style: none;
}

footer .footer__content ul li img {
  width: auto;
  height: 20px;
}

@media screen and (max-width: 850px) {
  nav .nav__content .nav__navigation ul.topNavMenu {
    position: absolute;
    top: 20px;
    right: -20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    opacity: 0;
  }
  nav .nav__content .nav__navigation ul.topNavMenu.responsive {
    top: 50px;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  nav .nav__content .nav__navigation .menuIcon {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
  }
  header .header__content h1 {
    font-size: 30px;
  }
  .bodyMenu .bodyMenu__content ul.bodyNavMenu {
    position: absolute;
    top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: white;
    opacity: 0;
  }
  .bodyMenu .bodyMenu__content ul.bodyNavMenu.responsive {
    top: 50px;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .bodyMenu .bodyMenu__content .bodyMenuIcon {
    position: absolute;
    top: 10px;
    display: block;
  }
  .displayImg #displayImg__content.displayImg__content__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .displayImg #displayImg__content.displayImg__content__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */